<h2>Estas en la página test </h2>
<%= image_tag "helios.jpg" %>
<p> Helios, la personificación del sol junto con sus caballos que le permiten viajar por el cielo siendo así el capaz de verlo todo y a todos. </p>